cdi/cdi-extender/src/main/resources/META-INF/cdi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 * Copyright (c) OSGi Alliance (2017, 2018). All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *			http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:cdi="http://www.osgi.org/xmlns/cdi/v1.0.0"
	targetNamespace="http://www.osgi.org/xmlns/cdi/v1.0.0"
	elementFormDefault="unqualified"
	attributeFormDefault="unqualified"
	version="1.0.0">

	<annotation>
		<documentation xml:lang="en">
			This is the XML Schema for OSGi Bean descriptions used by CCR. OSGi
			Bean description documents may be embedded in  other XML documents.
			CCR will process all XML documents listed in the osgi.beans
			attribute of the CDI extender requirement. XML documents containing
			OSGi Bean descriptions may contain one or more bean elements. Use of
			the namespace for bean descriptions is mandatory. The attributes and
			subelements of component elements are always unqualified.
		</documentation>
	</annotation>

	<element name="bean" type="cdi:Tbean" />
	<element name="qualifier-blacklist" type="cdi:Tqualifier-blacklist" />

	<complexType name="Tbean">
		<sequence>
			<any namespace="##other" maxOccurs="unbounded" minOccurs="0" processContents="lax" />
		</sequence>
		<attribute name="class" type="token" use="required" />
		<anyAttribute processContents="lax" />
	</complexType>

	<complexType name="Tqualifier" mixed="true">
		<sequence>
			<any namespace="##other" minOccurs="0" maxOccurs="unbounded"
				processContents="lax" />
		</sequence>
		<attribute name="name" use="required">
			<annotation>
				<documentation xml:lang="en">
					<![CDATA[The name of the class or package to ignore.
					Ant-style glob matches are supported. For example,
					<qualifier name="com.acme.**"/> would ignore all qualifier
					classes in subpackages of com.acme.]]>
				</documentation>
			</annotation>
			<simpleType>
				<restriction base="string">
					<pattern value="([a-zA-Z_$][a-zA-Z\d_$]*\.)*([a-zA-Z_$][a-zA-Z\d_$]*|\*|\*\*)"/>
				</restriction>
			</simpleType>
		</attribute>
		<anyAttribute processContents="lax" />
	</complexType>

	<complexType name="Tqualifier-blacklist">
		<sequence>
			<element name="qualifier" maxOccurs="unbounded" minOccurs="0" type="cdi:Tqualifier" />
			<any namespace="##other" maxOccurs="unbounded" minOccurs="0" processContents="lax" />
		</sequence>
		<anyAttribute processContents="lax" />
	</complexType>

</schema>
