transaction/transaction-jdbc/src/main/resources/org.apache.aries.transaction.jdbc-2.0.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by Apache XBean -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='http://aries.apache.org/xmlns/transaction-jdbc/2.0'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='http://aries.apache.org/xmlns/transaction-jdbc/2.0'>

  <!-- element for type: org.apache.aries.transaction.jdbc.RecoverableDataSource -->
  <xs:element name='recoverableDataSource'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        Defines a JDBC DataSource that will auto-enlist into existing XA transactions.
The DataSource will also be registered with the Aries/Geronimo transaction
manager in order to provide proper transaction recovery at startup.
Other considerations such as connection pooling and error handling are
completely ignored.
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='dataSource' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              The XADataSource to wrap.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='transactionManager' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              The XA TransactionManager to use to enlist the JDBC connections into.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any minOccurs='0' maxOccurs='unbounded'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='allConnectionsEquals' type='xs:boolean'/>
      <xs:attribute name='connectionMaxIdleMinutes' type='xs:integer'/>
      <xs:attribute name='connectionMaxWaitMilliseconds' type='xs:integer'/>
      <xs:attribute name='dataSource' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The XADataSource to wrap.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='exceptionSorter' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Specify which SQL exceptions are fatal.
Can be all, none, known or custom(xx,yy...).
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='name' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The unique name for this managed XAResource. This name will be used
by the transaction manager to recover transactions.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='partitionStrategy' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Pool partition strategy.
Can be none, by-connector-properties or by-subject (defaults to none).
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='password' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The password credential used to establish the connection.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='poolMaxSize' type='xs:integer'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Maximum pool size (defaults to 10).
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='poolMinSize' type='xs:integer'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Minimum pool size (defaults to 0).
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='pooling' type='xs:boolean'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            If pooling is enabled (defaults to true).
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='transaction' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            Transaction support.
Can be none, local or xa (defaults to xa).
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='transactionManager' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The XA TransactionManager to use to enlist the JDBC connections into.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='username' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The user name used to establish the connection.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
